.main {
  width: 100%;
  height: 50px;
  position: relative;
  background-blend-mode: luminosity;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 50px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}