.deepSkyImage {
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.deepSkyImageBackground {
  position: absolute;
  top: 2px;
  left: 0;
  transform: scale(1.2);
  filter: blur(5px);
  transition: all 0.5s ease;
  z-index: 1;
  border-radius: 50%;
}

.imageSkeleton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 70%);
  }
  100% {
    background-color: hsl(0, 0%, 48%);
  }
}
