.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #C3C9CD;

  input {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    flex: 1;
    padding: 5px 5px;
    transition: 0.5s;
    outline: none;
    border: none;
  }
}