.main {
  position: relative;
  background: #F0F0F3;
  border-radius: 20px;
  width: 100%;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  filter: drop-shadow(-2px -2px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(174, 174, 192, 0.3));
  overflow: hidden;
  height: 200px;
  display: flex;
}

.planet {
  position: absolute;
  width: 200px;
  top: -20px;
  right: -20px
}

.chevron {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 82px;
  right: 54px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
