.planet {
  background-image: url("./assets/planet.webp");
  background-repeat: no-repeat;
  background-size: 100% auto, 100% 100%;
  background-position: center top;
  width: 100%;
  height: 100%;
  min-height: max-content;
}

.content {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: relative;
}

.blurBackground {
  @media (min-width: 768px) {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
  }
}

.galaxy {
  background-image: url("./assets/galaxy.png");
  background-attachment: fixed;
  backdrop-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  background-size: 160% auto;
  background-repeat-y: no-repeat;
  background-position: center top;
  height: 100vh;
  min-height: max-content;
  width: 100vw;
  position: relative;
  overflow: visible;

  &::before {
    content: '';
    z-index: -1;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 541px;
    background: linear-gradient(180deg, #090424 0%, rgba(9, 4, 36, 0.524805) 47.52%, rgba(9, 4, 36, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

