.description_container {
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background-color:#FFF;
  border-radius: 10px;
  padding: 11px 15px;
  margin-bottom: 18px;
}

.description {
  flex: 1;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  resize:none;
  &::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ABB0B2;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.input {
  width: 100%;
  padding: 9px 15px;
  box-sizing: border-box;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
  color: #000;
  border-radius: 5px;
  background: #FFFFFF;
  border-radius: 10px;
  outline: none;
  border: none;
  &::placeholder {
    color: #ABB0B2;
  }
}

.category {
  padding: 9px 15px;
  background-color: #FFF;
  border-radius: 10px;
}

.image {
  width: 250px;
  height: 250px;
  background-color: #FFF;
  border-radius: 10px;
}

.image_container {
  position: relative;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.image_delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ABB0B2;
}