.container {
  min-height: 56px;
  background: linear-gradient(180deg, #261C5C 55.73%, #261C5C 100%);
  border-radius: 10px;
  overflow: hidden;
};

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background: url('./img/background.png') center center / cover no-repeat;
  box-sizing: border-box;
  padding: 8px 10px;
};

.avatar {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  flex-shrink: 0;
  & > img {
    width: 100%;
    height:100%;
  };
};

.name {
  flex: 1;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
};

.date {
  padding: 10px; 
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  opacity: 0.7;
  align-self: flex-start;
}
