.container {
  display: flex;
  background: #FFFFFF;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 10px;
  padding: 10px 14px;
  position: relative;
};

.gray {
  background: #F0F0F3;
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(174, 174, 192, 0.3), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF !important;
}

.header {
  display: flex;
  align-items: center;
}

.name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 17px;
  color: #292E30;
  margin-bottom: 9px;
};

.icon {
  margin-right: 5px;
};

.description {
  color: #292E30;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 0 10px;
  margin-bottom: 14px;
};

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
};

.users {
  display: flex;
  align-items: center;
};

.admin_avatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 4px;
}

.user_avatar{
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 4px;
};

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  background: linear-gradient(88.23deg, rgba(55, 54, 107, 0.3) 0.29%, rgba(92, 91, 159, 0.3) 42.18%, rgba(89, 171, 218, 0.3) 97.3%);
  color: #FFFFFF;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 12px;
  line-height: 8px;
  padding: 8px 5px;
};

.button {
  color: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #292E30;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #292E30;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-radius: 5px;
};

.tools {
  position: absolute;
  right: -11px;
}

.prophecies {
  width: 100%;
  height: 35px;
  position: relative;
}

.background {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 35px;
}
