.input {
  display: flex;
  align-items: center;
  position: relative;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
  border-radius: 10px;
  color: black;


  input {
    width: calc(100% - 15px);
    color: black;
    height: 100%;
    padding: 15px 0 15px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: inherit;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.disabled {
  background: #f1f1f1 !important;
  pointer-events: none;
  filter: brightness(0.7);
}

.textError {
  color: rgba(220, 0, 0, 0.6);
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  position: absolute;
  top: 6px;
  right: 12px;
}

.outlinedDisabled {
  background: #f1f1f1 !important;
  pointer-events: none;
  filter: brightness(0.8);
}

.selectLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: black !important;
  padding-left: 15px;
}

.textarea {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;

  textarea {
    padding-top: 30px;
    width: calc(100% - 15px);
    height: 100%;
    margin-left: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: inherit;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.textareaAutosize {
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  resize: none;
  padding:15px;
  outline: none;
  border: none;
  overflow-y: auto;
  background: inherit;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.outlined {
  background: transparent !important;
  border: 1px solid #C3C9CD;
  border-radius: 10px;
}

.filled {
  background: white;
}

.placeholder {
  position: absolute;
  font-size: 14px;
  color: gray;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.bottom {
  top: 16px;
  left: 15px;
}

.top {
  top: 3px;
  left: 15px;
  font-size: 12px !important;
  font-weight: 600;
}
