.main {
  width: 100%;
  padding: 13px 15px;
  box-sizing: border-box;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #F0F0F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.messages_count {
  height: 22px;
  width: 22px;
  background: linear-gradient(88.23deg, rgba(55, 54, 107, 0.3) 0.29%, rgba(92, 91, 159, 0.3) 42.18%, rgba(89, 171, 218, 0.3) 97.3%);
  backdrop-filter: blur(9.5px);
  border-radius: 50%;
  position: absolute;
  right: -11px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

}

.name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}

.tag {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #37366B;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #C3C9CD;

  input {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    flex: 1;
    padding: 5px 5px;
    transition: 0.5s;
    outline: none;
    border: none;
  }
}

.discussions {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.7;
}
