.conatiner {
  background: url(./images/background.png) center center/contain no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.content {
  margin-bottom: 100px;
}

.title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #292E30;
  margin-bottom: 17px;
}

.avatar_container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-right: 13px;
}

.avatar_text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  color: #ABB0B2;
}

.input {
  width: 100%;
  background-color: #F0F0F3;
  border: 1px solid #C3C9CD;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  color: #000;
  padding: 8px 15px; 
  box-sizing: border-box;
  outline: none;
  margin-bottom: 10px;
  &::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #ABB0B2;
  }
}

.discription_container {
  width: 100%;
  box-sizing: border-box;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F3;
  border: 1px solid #C3C9CD;
  border-radius: 10px;
  padding: 8px 15px;
  margin-bottom: 18px;
}

.discription {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  resize:none;
  &::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #ABB0B2;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.toolbar_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  margin: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #FFFFFF;
  padding: 12px 57px;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #F0F0F3;
  border-radius: 10px;
  border: none;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;  
    left: 0;
    right: 0;
    top: 10px;
    height: 64px;
    background: linear-gradient(268.23deg, #37366B 2.7%, #5C5B9F 44.59%, #59ABDA 99.71%), #C4C4C4;
    opacity: 0.5;
    filter: blur(20px);
    border-radius: 1000px;
    transform: rotate(-180deg);
  }
}

.toolbar_text {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #37366B;
  img {
    margin-right: 10px;
  }
}