.main {
  padding: 10px 0;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F3;
}

.profilePhoto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: gray;
}

.member_button {
  padding: 10px 20px;
  background: #F0F0F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
}

.button {
  display: flex;
  width: 100px;
  background: url('../images/bg.png') center center/cover no-repeat #37366B;
  align-items: center;
  border-radius: 10px;
  color: #FFF;
  padding: 5px 19px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 15px;
  svg {
    margin-right: 10px;
  }
  &:last-child {
    margin-right: 0;
  }
}