.container {
  background: linear-gradient(180deg, #261C5C 55.73%, #365191 100%);
  border-radius: 10px;
  overflow: hidden;
};

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: url('./img/background.png') center center / cover no-repeat;
  padding: 8px 10px;
};

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  flex-shrink: 0;
  & > img {
    width: 100%;
    height:100%;
  }
};

.name {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  padding-right: 20px;
};

.title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 8px;
};

.button {
  padding: 13px 32px;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%);
  border-radius: 10px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 8px;
};

.subtitle {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 8px;
};


