.container {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 10px;
  padding: 0 20px 0 9px;
  position: relative;
};

.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
  flex-shrink: 0;
};

.message {
  width: 16em;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 12px;
  color: #292E30;
};

.name {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #292E30;
  opacity: 0.7;
  margin-bottom: 6px;
};

.tools {
  position: absolute;
  right: -11px;
}