.main {
  background: url(./assets/background.png) top center/contain no-repeat #f0f0f3;
}

.items {
  padding-top: 20px;
  overflow-x: scroll;
  max-width: 100vw;
  padding-left: 32px;
  padding-right: 32px;
}

.items::-webkit-scrollbar {
  display: none;
}
