.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

.skeleton {
  width: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.15);
  animation: skeleton-loading 0.6s linear infinite alternate;
}

.bright {
  .skeleton {
    background: rgba(255, 255, 255, 0.5);
  }
}

.item1 {
  height: 160px;
  width: 100%;
}

.item2 {
  height: 100px;
  margin-top: 16px;
  width: 100%;
}

.item3 {
  height: 80px;
  margin-top: 16px;
  width: 100%;
}

@keyframes skeleton-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
