.main {
  width: 100%;
  height: max-content;
  background: rgba(240, 240, 243, 0.1);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(45px);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.sale {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(9.5px);
  border-radius: 74.5556px;
  position: absolute;
  right: -30px;
  top: 0;
  padding: 2px 4px 2px 4px;
}

.button {
  padding: 9px 14px;
  background: #FFFFFF;
  box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.6), 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 13px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #37366B;
  transition: all 0.1s ease-out;
  user-select: none;

  &:active {
    opacity: 0.6;
    transform: scale(0.98);
  }
}

.lines {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line1, .line2, .line3, .line4 {
    height: 1px;
    background: white;
  }
}

.line1 {
  width: 100%;
}

.line2 {
  width: 75%;
}

.line3 {
  width: 50%;
}

.line4 {
  width: 25%;
}
