.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  outline: none;
  border: none;
}

.children_container {
  width: 100%;
  height: 100%;
}