.main {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  grid-column: 1/6;
}

.image {
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(89, 171, 218, 0.4);
  z-index: -1;
  width: 100%;
  position: absolute;
}
