.container {
  bottom: 0;
  left: 0;
  z-index: 11;
  right: 0;
  position: fixed;
  padding: 7px 7px 17px 7px;
  
  box-sizing: border-box;
  background-color: rgba(240, 240, 243);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 20px rgba(174, 174, 192, 0.5);
};

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 20px 20px 0px 0px;
  background: #FFFFFF;
  border-radius: 10px;
}


.member_button {
  padding: 10px 20px;
  background: #F0F0F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(174, 174, 192, 0.3));
}


.comment_mask {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 20px 20px 0px 0px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 11;
}

.input {
  flex: 1;
  width: 100%;
  border: none;
  padding-right: 40px;
  padding-left: 20px;
  outline: none;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  &::placeholder {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(41, 46, 48, 0.2);
  };
};

.icon {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  display: flex;
  align-items: center;
  height: 0;
  border-radius: 10px;
  background-color:#FFF;
  overflow: hidden;
  transition: height 0.3s;
}

.open_answer {
  display: flex;
  align-items: center;
  height: 60px;
  transition: height 0.3s;
  border-radius: 10px;
  background-color:#FFF;
  overflow: hidden;
}

.image_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.image {
  height: 50px
}