.main {
  background: linear-gradient(180deg, #261C5C 55.73%, #365191 100%);
  border-radius: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

.date {
  text-align: center;
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #261C5C;
  padding: 9px;
  background-color: #99DAEA;
  z-index: 1;
}
