.profilePhoto {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: gray;
}

.processorButton {
  display: flex; 
  aspect-ratio: 1 / 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px #FFFFFF, 0px 0px 20px rgba(174, 174, 192, 0.5);
  border-radius: 10px;
  position: relative;
  transition: opacity 350ms ease-out;

  &:active {
    opacity: 0.8;
  }
}

.transparentButton {
  background: rgba(172,180,190,0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 10px;
}
