.container {
  position: relative;
  width: 100%;
  height: 100px;
  perspective: 2000px;
}

@media (max-width: 768px) {
  .container {
    height: 80px;
  }
}

.selectorWrapper {
  width: 100%;
  height: 100%;
}

.placeholder {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #C3C9CD;
  font-family: 'Roboto', sans-serif;
}

.disabledContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .disabledContainer {
    height: 80px;
  }
}

.disabledContainer .placeholder {
  position: relative;
  top: 0;
}

.selectWrap {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 32px;
  color: #ddd;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .selectWrap {
    font-size: 24px;
  }
}

.selectWrap::before,
.selectWrap::after {
  display: none;
}

.selectOptions {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  transform-style: preserve-3d;
  display: block;
  transform: translateZ(-150px) rotateX(0deg);
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectOption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.highlight {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: rgb(23, 23, 25);
  font-size: 32px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .highlight {
    font-size: 24px;
  }
}

.highlightList {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlightItem {
  height: 50px;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.selectOption.disabled,
.highlightItem.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
