.title {
  font-size: 30px;
  font-family: Gilroy, sans-serif;
  line-height: 30px;
  text-align: center;
  color: white;
  margin: 8px;
}

.subTitle {
  font-size: 17px;
  font-family: Gilroy, sans-serif;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.text {
  font-family: Gilroy, sans-serif;
  line-height: 1.3;
  color: white;
}