.outline {
  position: relative;
  opacity: 1;
  border: 1px solid #ABB0B2;
  border-radius: 50%;
  width: 140px;
  height: 140px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.outlineImage {
  background: #C3C9CD;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.imageEdit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 32px;
  height: 32px;
}

.plus {
  position: absolute;
  width: 72px;
  height: 72px;
  left: calc(50% - 36px);
  top: calc(50% - 36px);
}

.hole {
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 260px);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
  pointer-events: none;
  z-index: 1;
}
