.main {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F3;
}

.profilePhoto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: gray;
}