$center-sector-orders: 4 4, 4 5, 5 4, 4 3, 3 4, 3 5, 4 6, 5 5, 6 4, 5 3, 4 2, 3 3, 2 4, 2 5, 3 6, 4 7, 5 6, 6 5, 7 4, 6 3, 5 2, 4 1, 3 2, 2 3, 1 4;
$right-sector-orders: 4 2, 3 3, 4 3, 5 3, 6 4, 5 4, 4 4, 3 4, 2 4, 1 4, 2 3, 3 2, 4 1, 5 2, 6 3, 7 4;
$left-sector-orders: 4 3, 3 2, 4 2, 5 2, 6 1, 5 1, 4 1, 3 1, 2 1, 1 1, 2 2, 3 3, 4 4, 5 3, 6 2, 7 1;
$top-sector-orders: 4 3, 3 2, 4 2, 5 2, 6 1, 5 1, 4 1, 3 1, 2 1, 1 1, 2 2, 3 3, 4 4, 5 3, 6 2, 7 1;
$bottom-sector-orders: 4 2, 3 3, 4 3, 5 3, 6 4, 5 4, 4 4, 3 4, 2 4, 1 4, 2 3, 3 2, 4 1, 5 2, 6 3, 7 4;
$south-sector-orders: 3 3, 3 2, 2 2, 2 3, 2 4, 3 4, 4 4, 4 3, 4 2, 4 1, 3 1, 2 1, 1 1, 1 2, 1 3, 1 4, 1 5, 2 5, 3 5, 4 5, 5 5;

.center, .top, .bottom, .left, .right, .south {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  & > * {
    overflow: visible;
    max-width: 20px;
    max-height: 20px;
  }
}

.south {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  & > * {
    overflow: visible;
  }
}

.center {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.south {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 1px;
}

.top, .bottom {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 90%;
}

.bottom {
  top: unset;
  bottom: 0;
}

.left, .right {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 90%;
}

.right {
  left: unset;
  right: 0;
}

@for $i from 1 through length($center-sector-orders) {
  $column-order: nth(nth($center-sector-orders, $i), 1);
  $row-order: nth(nth($center-sector-orders, $i), 2);
  .center > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

@for $i from 1 through length($south-sector-orders) {
  $column-order: nth(nth($south-sector-orders, $i), 1);
  $row-order: nth(nth($south-sector-orders, $i), 2);
  .south > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

@for $i from 1 through length($left-sector-orders) {
  $column-order: nth(nth($left-sector-orders, $i), 1);
  $row-order: nth(nth($left-sector-orders, $i), 2);
  .left > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

@for $i from 1 through length($right-sector-orders) {
  $column-order: nth(nth($right-sector-orders, $i), 1);
  $row-order: nth(nth($right-sector-orders, $i), 2);
  .right > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

@for $i from 1 through length($bottom-sector-orders) {
  $column-order: nth(nth($bottom-sector-orders, $i), 2);
  $row-order: nth(nth($bottom-sector-orders, $i), 1);
  .bottom > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

@for $i from 1 through length($top-sector-orders) {
  $column-order: nth(nth($top-sector-orders, $i), 2);
  $row-order: nth(nth($top-sector-orders, $i), 1);
  .top > *:nth-child(#{$i}){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: $column-order;
    grid-column: $row-order;
  };
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}