.map {
  .mun {
    color: rgba(255, 0, 0, 0.5);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    z-index: 16;
  }

  .aspectsHint {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 14px;
    z-index: 1000;
  }

  .map-house-btn {
    position: absolute;
    color: white;
    left: 50%;
    top: 30%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    line-height: 14px;
    z-index: 100000;
    white-space: nowrap;
  }

  .sign-text {
    color: #FFFFFF;
    opacity: 0.3;
  }

  .map-image-container {
    aspect-ratio: 1 / 1;
  }

  .additional-info {
    color: #292E30;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    z-index: 16;
  }

  .main-info {
    color: #37366B;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    z-index: 16;
  }

  .transsaturns {
    color: rgba(55, 54, 107, 0.68);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    z-index: 16;
  }

  .arudhs {
    color: rgba(41, 46, 48, 0.68);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    z-index: 16;
    margin: 0px 0.6px;
  }

  .gradient {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    background: linear-gradient(180deg, #37366B 0%, #D57AE3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mandyGulika {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    background: linear-gradient(180deg, #37366B 0%, #65baff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .aspects {
    color: rgba(63, 63, 63, 0.5);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5px;
    z-index: 16;
  }
}


.deep-sky {
  .index {
    color: #FFFFFF;
    opacity: 0.3;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .aspects {
    color: #FFFFFF;
    opacity: 0.3;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5px;
    z-index: 16;
  }

  .additional-info {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    z-index: 16;
  }

  .main-info {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    z-index: 16;
  }

  .arudhs {
    color: rgba(255, 255, 255, 0.66);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    z-index: 16;
  }

  .transsaturns {
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    z-index: 16;
  }
}

@media screen and (min-width: 440px) {
  .deep-sky, .map {
    .aspects {
      font-size: 11.5px;
    }

    .additional-info {
      font-size: 19px;
    }

    .main-info {
      font-size: 18px;
      line-height: 18px;
    }

    .arudhs {
      font-size: 16px;
    }

    .transsaturns {
      font-size: 19px;
    }
  }
}

@media screen and (min-width: 560px) {
  .deep-sky, .map {
    .aspects {
      font-size: 17px;
    }

    .additional-info {
      font-size: 23px;
    }

    .main-info {
      font-size: 22px;
      line-height: 22px;
    }

    .arudhs {
      font-size: 18px;
    }

    .transsaturns {
      font-size: 23px;
    }
  }
}