.background_img {
  display: flex;
  flex-direction: column;
  height: 585px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 350px;
    width: 276px;
    top: 50px;
    right: 0px;
    background: url('../images/astronaut.png') center center/contain no-repeat;
  }
};

.shadow_wrapper {
  background: linear-gradient(0deg, #0C121E 28.9%, rgba(217, 217, 217, 0) 100%);
}

.subtitle {
  position: relative;
  z-index: 1;
}

.duration {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
};

.line {
  height: 32px;
  width: 1px;
  background-color: #6B6E75;
  margin: 0 20px;
};

.course_steps {
  padding: 0 28px;
  position: relative;
  margin-bottom: 70px;
  &::before {
    content: '';
    position: absolute;
    top: -400px;
    left: 0;
    bottom: 400px;
    right: 0;
    background: url('../images/earth.png') center center/cover no-repeat;
  }
};

.price {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: -0.4px;
  color: #F2D113;
}


