.container {
  position: relative;
  height: max-content;
}

.background_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
}

.title {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color:#37366B;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:#37366B    ;
  margin-right: 14px;
}

.video_player {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  border-radius: 20px;
  z-index: 4;
}

.background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  left: 0;
  filter: blur(3px) brightness(0.8);
  opacity: 0.8;
  top: 0;
}