.slider {
  position: relative;
  padding: 0 3px;
  &_wrapper {
    position: relative;
    padding: 0 5px;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 15px;
      right: 0;
      bottom: 15px;
      overflow: hidden;
      border-radius:5px;
      background: url('./images/slider_bg.png') center center/cover no-repeat;
    }
  }
  
  &_bar_wrapper {
    padding: 0 30px;
  } 

  &_bar {
    height: 4px;
    width: 100%;
    margin: 20px 0;
    background: #4DDC36;
  }
  
  &_item {
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color:#000;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 41 / 27;
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    z-index: 2;
  }

  &_image_background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: blur(10px);
    z-index: 1;
  }
}

.text_wrapper {
  position: relative;
  z-index: 1;
  padding: 30px 15px;
}

.date {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}


.title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom:10px;
}

.soon_bar {
  z-index: 1;
  right: 20px;
  top: -10px;
  padding: 5px 12px;
  font-family: 'Gilroy';
  font-weight: 500;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 74.5px;
  position: absolute;
}


.descr {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom:5px;
}
