.main {
  width: 100%;
  height: 60px;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(174, 174, 192, 0.3));
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.profilePhoto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: gray;
}