.main {
  background: linear-gradient(180deg, #261C5C 55.73%, #365191 100%);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 32px;
  &:last-child {
    margin-right: 0;
  }
}

.date {
  text-align: center;
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #261C5C;
  padding: 9px;
  background-color: #99DAEA;
}

.forecast {
  position: relative;
  z-index: 2;
  background: #CDCDDD;
  box-shadow: 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 10px;
  padding: 10px 13px 10px 22px;
}

.forecast_avatar {
  position: absolute;
  left: -12.5px;
  top: 8px;
}