.header {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.desc {
  line-height: 1.3;
  font-family: Gilroy, sans-serif;
  color: white;
  font-weight: 400;
  padding-bottom: 15px;

  p {
    margin-bottom: 8px;
  }
}