.card {
  position: relative;
  width: 100%;
  min-height: 140px;
  border-radius: 10px;
  background: rgba(240, 240, 243, 0.1);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(45px);
}


.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  z-index: -1;
}
