.main {
  background: linear-gradient(88.23deg, rgba(55, 54, 107, 0.8) 0.29%, rgba(92, 91, 159, 0.8) 42.18%, rgba(89, 171, 218, 0.8) 97.3%), #F0F0F3;
  border-radius: 10px;
  position: relative;
  margin-left: 8px;
}

.reply {
  position: absolute;
  left: -15px;
  top: 22px;
  width: 30px;
  height: 30px;
}
