.header {
  font-size: 28px;
  line-height: 28px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.desc {
  font-size: 18px;
  line-height: 18px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: 400;
  padding-bottom: 15px;

  p {
    margin-bottom: 8px;
  }
}