.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.textOpened {
  color: #FFFFFF;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.textClosed {
  color: #59ABDA;;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
