.skeleton {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.15);
  animation: skeleton-loading 0.6s linear infinite alternate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bright {
  .skeleton {
    background: rgba(255, 255, 255, 0.5);
  }
}

@keyframes skeleton-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
