.main {
  padding: 10px 0;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F3;
}

.profilePhoto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: gray;
}

.member_button {
  padding: 10px 20px;
  background: #F0F0F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
}