.table {
  width: 100%;
  border: none;
  display: inline-grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 2fr;
}

.isOpened {
  background: white !important;
}

.dashiTableHead {
  padding: 0px 15px;
  width: 375px;
  height: 50px;
  background: #FFFFFF !important;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
}

.dashiTableHead th {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  color: #37366B !important;
}

.dashiMenuRow {
  height: 50px;
  background: #F0F0F3 !important;
}

.table th {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  height: 30px;
}

.table th:first-child {
  padding-right: 15px;
}

.table th:first-child {
  padding-left: 15px;
}


.table td:first-child {
  padding-right: 15px;
}

.table td:first-child {
  padding-left: 15px;
}

.table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

.table td {
  height: 36px;
  display: flex;
  align-items: center;
}
