.button {
  background: rgba(240, 240, 243, 0.1);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    opacity: 0.6;
  }

  img {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }
}

.chatButton {
  width: 36px;
  height: 36px;
  background: linear-gradient(88.23deg, rgba(55, 54, 107, 0.3) 0.29%, rgba(92, 91, 159, 0.3) 42.18%, rgba(89, 171, 218, 0.3) 97.3%), rgba(240, 240, 243, 0.1);
  box-shadow: -2px -2px 10px #FFFFFF, 5px 5px 10px rgba(174, 174, 192, 0.3), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
