.container {
  height: 410px;
  padding: 27px;
  box-sizing: border-box;
  background: url(./images/Universe.png) center center/cover no-repeat;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: url(./images/Gagarin.png) center center/cover no-repeat;
    width: 270px;
    height: 330px;
    top: 0;
    right: 0;
    z-index: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
}

.title {
  margin-bottom: 120px;
}

.subtitle {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #FFF;
  margin-bottom: 25px;
}

.date {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #00EABD;
}

.lesson {
  display: inline-block;
  padding: 2px 9px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  margin-bottom: 25px;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #F0F0F3;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_right {
    display: flex;
    align-items: center
  }
}

.price {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.more {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  margin-right: 25px;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #F0F0F3;
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(174, 174, 192, 0.3), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  border-radius: 20px;
}