
.image {
  width: 100%;
  border-radius: 25px;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 140px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.shadow_wrapper {
  background: linear-gradient(0deg, #0C121E 28.9%, rgba(217, 217, 217, 0) 100%);
}

.duration {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
};

.master_class_list {
  padding: 45px 28px;
  border: 2px solid #00EABD;
  border-radius: 49px;
}

.description {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;;
  letter-spacing: 0.2px;
  color: #F9F9F9;
}

.main_teacher {
  background: url('../images/gradient.png') center center/cover no-repeat;
  padding: 0 28px;
  margin-bottom: 55px;
}


.master_class {
  &_container {
    background: url('../images/mountain.png') center center/cover no-repeat;
    padding: 35px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &_title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #F9F9F9;
    margin-bottom: 20px;
  }

  &_descr {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F9F9F9;
    margin-bottom: 30px;
  };

  &_date {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #F2D113;
    margin-bottom: 30px;
  }

  &_price {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #F9F9F9;
    margin-bottom: 20px;
  }
}

.question {
  padding: 0 28px;
  background: url('../images/stars.png') center center/cover no-repeat;
}

.for_whom {
  background: url('../images/galaxy_stars.png') center center/cover no-repeat;
}

