.selected {
  background: #5C5B9F;
  z-index: 35 !important;
}

.aspectHint {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Gilroy', 'sans-serif' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: white !important;
  z-index: 18 !important;
  text-align: center;
  pointer-events: none;

  mark {
    background-color: #5C5B9F;
    color: white;
    opacity: 0.9;
  }
}

.negativeAspect {
  background: rgba(255, 197, 197, 0.6);
}

.positiveAspect {
  background: rgba(87, 201, 69, 0.2);
}

.mark {
  position: absolute;
  left: 0;
  bottom: 0;
}
