.background_image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.step {
  display: flex;
  margin-bottom: 8px;
}

.wrapper {
  position: relative;
  height: 585px;
}

.header {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.shadow_wrapper {
  background: linear-gradient(0deg, #0C121E 28.9%, rgba(217, 217, 217, 0) 100%);
}

.duration {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
}

.line {
  height: 32px;
  width: 1px;
  flex-shrink: 0;
  background-color: #6B6E75;
  margin: 0 20px;
}