.selectWrap {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  color: #ddd;
}

@media (max-width: 768px) {
  .selectWrap {
    font-size: 14px;
  }
}

.selectWrap::before,
.selectWrap::after {
  position: absolute;
  z-index: 1;
  display: block;
  content: '';
  width: 100%;
  height: 50%;
}

.selectWrap::before {
  top: 0;
  background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
}

.selectWrap::after {
  bottom: 0;
  background-image: linear-gradient(to top, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
}

.selectOptions {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  transform-style: preserve-3d;
  margin: 0 auto;
  display: block;
  transform: translateZ(-150px) rotateX(0deg);
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectOption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.highlight {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: #000;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 24px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .highlight {
    font-size: 16px;
  }
}

.highlightList {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlightItem {
  height: 50px;
}

/* container */
.pickerContainer {
  display: flex;
  width: 100%;
  height: 200px;
  gap: 20px;
}

@media (max-width: 768px) {
  .pickerContainer {
    gap: 10px;
  }
}

/* date */
.dateSelector {
  position: relative;
  perspective: 2000px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.dateSelector > div {
  flex: 1;
}

.dateSelectorSelectWrap {
  font-size: 18px;
}

.dateSelectorHighlight {
  font-size: 20px;
}

.hourSelector {
  position: relative;
  perspective: 2000px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.hourSelector > div {
  flex: 1;
}

@media (max-width: 768px) {
  .pickerContainer {
    gap: 10px;
  }
  
  .dateSelector > div {
    gap: 5px;
  }
  
  .hourSelector > div {
    gap: 5px;
  }
}
