.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  background: url(./images/bg.png) center center/cover no-repeat;
}

.comment {
  color: #FFF;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
  padding: 10px 15px;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}
