.container {
  position: relative;
  min-height: 315px;
  overflow: hidden;
  border-radius: 20px;
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
};

.background_img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.description {
  flex: 1;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
  margin-bottom: 55px;
};


.button {
  width: 240px;
  display: flex;
  padding: 10px 15px;
  background: #00EABD;
  border-radius: 10px;
  border: none;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #192239;
}