.mask {
    position: fixed;
    bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    left: 10px;
    right: 10px;
    z-index: 3;
    background-color: #FFF;
    box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
}



.member_button {
    padding: 10px 20px;
    background: #F0F0F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px rgba(174, 174, 192, 0.3));
}

.not_select {
    opacity: 1;
    transition: opacity 0.5s;
}

.selected {
    opacity: 0.4;
}