.search {
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1;
  width: 30px;
  margin: 0 15px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;

  &::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #ABB0B2;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}